h1 {color: rgba(168, 1, 35, 0.651);}
#fome {margin-left: 30%;}
#fome {text-align: center;}
#fome {width: 30%;}

 h2 {color: rgb(109, 4, 4);}
 #pessoas {margin-left: 30%;}
 #pessoas {text-align: center;}
 #pessoas {width: 30%;}

 h3 {color: rgba(178, 34, 34, 0.774);}
 #onu {margin-left: 35%;}
 #onu {text-align: center;}
 #onu {width: 20%;}

 body {background-color: rgba(128, 128, 128, 0.349);}